In [3]:
import pandas as pd
import numpy as np

df = pd.read_csv("GDPlist.csv",encoding = "ISO-8859-1")
df

          Country      Continent  GDP (millions of US$)
0     Afghanistan           Asia                  18181
1         Albania         Europe                  12847
2         Algeria         Africa                 190709
3          Angola         Africa                 100948
4       Argentina  South America                 447644
..            ...            ...                    ...
120    Uzbekistan           Asia                  45353
121     Venezuela  South America                 315841
122       Vietnam           Asia                 122722
123         Yemen         Africa                  33675
124        Zambia         Africa                  19206

[125 rows x 3 columns]

In [4]:
df.info()
# 3 columns and 125 rows
# Country and Continent < Object> -- Norminal
# GDP <int64> -- Ratio

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 125 entries, 0 to 124
Data columns (total 3 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Country                125 non-null    object
 1   Continent              125 non-null    object
 2   GDP (millions of US$)  125 non-null    int64
dtypes: int64(1), object(2)
memory usage: 3.1+ KB

In [6]:
df_GDP = df.loc[:,"GDP (millions of US$)"]
df_GDP.max()
# Max: 15094025

15094025

In [7]:
df_GDP.min()
# Min: 10600

10600

In [8]:
df_GDP.describe()

count    1.250000e+02
mean     5.554278e+05
std      1.649266e+06
min      1.060000e+04
25%      2.574200e+04
50%      9.608900e+04
75%      3.332380e+05
max      1.509402e+07
Name: GDP (millions of US$), dtype: float64

In [12]:
df_GDP.mode()

0         10600
1         11313
2         12461
3         12655
4         12827
         ...
120     2776324
121     3577031
122     5869471
123     7298147
124    15094025
Name: GDP (millions of US$), Length: 125, dtype: int64

In [10]:
df_GDP.mean()

555427.784

In [11]:
df_GDP.median()
# Median < Mean: Dữ liệu có phân bố lệch phải.

96089.0

In [13]:
df_continent = df.loc[:, "Continent"]
df_continent.mode()
# Europe (Chau Au) la châu lục nào xuất hiện nhiều nhất

0    Europe
Name: Continent, dtype: object

In [19]:
df1 = df.pivot_table(values="GDP (millions of US$)", index="Continent", aggfunc="sum")
df1

               GDP (millions of US$)
Continent
Africa                       1820811
Asia                        24425891
Europe                      19139380
North America               18238447
Oceania                      1662727
South America                4141217

In [23]:
df2 = df.pivot_table(values="GDP (millions of US$)", index="Continent", aggfunc="mean")
df2

               GDP (millions of US$)
Continent
Africa                  6.278659e+04
Asia                    6.784970e+05
Europe                  5.172805e+05
North America           1.658041e+06
Oceania                 5.542423e+05
South America           4.601352e+05

In [27]:
df3 = pd.merge(df1,df2, on= "Continent", suffixes=("Total","Average"))
df3

               GDP (millions of US$)Total  GDP (millions of US$)Average
Continent
Africa                            1820811                  6.278659e+04
Asia                             24425891                  6.784970e+05
Europe                           19139380                  5.172805e+05
North America                    18238447                  1.658041e+06
Oceania                           1662727                  5.542423e+05
South America                     4141217                  4.601352e+05