In [1]:
import pandas as pd

df = pd.read_csv("OnlineRetail.csv", encoding ="ISO-8859-1")
df.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,12/1/2010 8:26,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,12/1/2010 8:26,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,12/1/2010 8:26,3.39,17850.0,United Kingdom

In [2]:
df.info()

# 8 columns and 541909 rows
# InvoiceNo, StockCode, Description, InvoiceDate, CustomerID,Country: norminal
# Quantity, UnitPrice: Ratio

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 541909 entries, 0 to 541908
Data columns (total 8 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   InvoiceNo    541909 non-null  object
 1   StockCode    541909 non-null  object
 2   Description  540455 non-null  object
 3   Quantity     541909 non-null  int64
 4   InvoiceDate  541909 non-null  object
 5   UnitPrice    541909 non-null  float64
 6   CustomerID   406829 non-null  float64
 7   Country      541909 non-null  object
dtypes: float64(2), int64(1), object(5)
memory usage: 33.1+ MB

In [5]:
dq =df.loc[:,["Description", "Quantity"]]
dq.head()

                           Description  Quantity
0   WHITE HANGING HEART T-LIGHT HOLDER         6
1                  WHITE METAL LANTERN         6
2       CREAM CUPID HEARTS COAT HANGER         8
3  KNITTED UNION FLAG HOT WATER BOTTLE         6
4       RED WOOLLY HOTTIE WHITE HEART.         6

In [6]:
dq.to_csv("OnlineRetail_1.csv")

In [8]:
df1 = df.iloc[:1000]
df1.head()
df1.to_excel("OnlineRetail.xlsx")

In [14]:
df2 = df.loc[df.Quantity >= 10]
df2.head()
df2.to_hdf("OnlineRetail.h5","table")

/var/folders/0g/n9l5s62d0wj2gkphqy_79b880000gn/T/ipykernel_3263/909800839.py:3: PerformanceWarning:
your performance may suffer as PyTables will pickle object types that it cannot
map directly to c-types [inferred_type->mixed,key->block2_values] [items->Index(['InvoiceNo', 'StockCode', 'Description', 'InvoiceDate', 'Country'], dtype='object')]

  df2.to_hdf("OnlineRetail.h5","table")

In [17]:
df3 = df.loc[1000:2000,["Quantity", "InvoiceDate", "UnitPrice"]]
df3.head()
df3.to_json("OnlineRetail.json", orient ="columns")

In [22]:
df4 = df.loc[df.InvoiceNo == "536365"]
df4.head()
df4.to_html("OnlineRetail.html")